* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


#ajaxTest {

}

.ajaxWrapper {
    margin-bottom: 300px;
}

#ajaxTable {}
#ajaxTable td { padding: 4px 10px;}
#ajaxTable tr:nth-child(even) {background-color: #ccc;}
